# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results

TestResults

obj/
bin/
_Resharper.*
*.suo
*.user
App_Data/aspnet.mdf
App_Data/aspnet_log.ldf