@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
           Please pardon our dust.
        </p>
    </div>
</section>
}

<p>

For more information, visit <a href="https://github.com/phillipknauss/CqrsSiteEngine">the GitHub repository</a> for CQRSSiteEngine.

</p>

</section>